* {
  margin: 0;
}

.container {
  max-width: 1180px;
  background-color: rgb(166, 213, 255);
  height: 960px;
  margin: 0 auto;
}

.header {
  /* position: fixed; */
  width: 1180px; /* 나중에 수정 */
  top: 0;
  height: 160px;
  background-color: beige;
}

.content {
  margin-top: 200px;
  width: 100%;
  height: 800px;
}

.logInBox {
  border: solid 4px black;
  height: 450px;
  width: 380px;
  margin: -100px auto;
  display: flex;
  flex-direction: column;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.loginInputBox {
  display: flex;
  flex-direction: column;
  margin-top: 270px;
  border: solid 2px black;
}

.emailInput input {
  width: 90%;
  height: 30px;
  border-radius: 6px 6px 0 0;
  padding: 5px;
  padding-left: 30px;
}

.passwordBox img {
  position: absolute;
  top: 82.5%;
  left: 3%;
  transform: translateY(-50%);
  margin-right: 5px; /* 필요에 따라 조절하세요 */
  z-index: 2;
}
.passwordInput {
  display: flex;
  position: relative;
}
.passwordInput input {
  width: 90%;
  height: 30px;
  border-radius: 0 0 6px 6px;
  padding: 5px;
  padding-left: 30px;
  z-index: 1;
}
