.container {
    background-color: azure;
    height: 500px;
    position:relative;
    /* z-index: -1; */
    overflow-x:auto;

}

.buttons {
    position: absolute;
    width:1180px;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes {
    position: absolute;
    width:1120px;
    height:100%;
    display:flex;
    align-items: center;
    margin:0 30px 0 30px;
}

.box {
    width:400px;
    height:400px;
    background-color: white;
    margin:5px;
    flex-shrink: 0;
}